# Projeto 1

Nome:*Matheus Augusto Soares*

In [73]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

#### Pergunta

A importância que o estado demonstra possuir pela industria bélica, possui relação com um IDH de maneira proporcional?

#### Leitura dos dados

In [115]:
data = pd.read_excel('hdi_human_development_index.xlsx')

In [114]:
importacao = pd.read_excel('arms_imports_us_inflation_adjusted.xlsx')

In [113]:
militar = pd.read_excel('armed_forces_personnel_total.xlsx')

#### Join dos dataframes

In [77]:
data_2010 = data.loc[:, ["geo", 2010]]
importacao_2010 = importacao.loc[:, ["geo", 2010]]
militar_2010 = militar.loc[:, ["geo", 2010]]

In [85]:
data_idx = data_2010.set_index('geo')
importacao_idx = importacao_2010.set_index('geo')
militar_idx = militar_2010.set_index('geo')

In [116]:
df1 = data_idx.join(importacao_idx, how='inner', lsuffix='_IDH', rsuffix='_importacao')

In [117]:
militar_idx = militar_idx.rename(columns={2010: '2010_militares'})
df=df1.join(militar_idx, how="inner")
df.head()

             2010_IDH  2010_importacao  2010_militar
geo
Afghanistan     0.454      377000000.0      307000.0
Albania         0.738              NaN       14700.0
Algeria         0.724      834000000.0      317000.0
Angola          0.495              NaN      117000.0
Argentina       0.816       11000000.0      104000.0

#### Salvando o Dataframe

In [109]:
data.to_csv( 'my_data.csv', index=True)

#### Limpeza

In [112]:
df=df.dropna()
df.head()

             2010_IDH  2010_importacao  2010_militar
geo
Afghanistan     0.454     3.770000e+08      307000.0
Algeria         0.724     8.340000e+08      317000.0
Argentina       0.816     1.100000e+07      104000.0
Armenia         0.729     5.200000e+07       55500.0
Australia       0.927     1.510000e+09       56600.0